# --- CONFIGURATION CHEKSCAN ---

# 1. Ton nom d'utilisateur GitHub (EN MINUSCULES)
# Exemple: lina-zrewil
GITHUB_REPOSITORY_OWNER_LOWERCASE=ton_nom_utilisateur

# 2. Ta clé OpenRouter
OPENROUTER_API_KEY=ta_cle_ici

# 3. Ton Token de Tunnel Cloudflare (à récupérer sur le dashboard Cloudflare Zero Trust)
CLOUDFLARE_TUNNEL_TOKEN=ton_token_ici
